<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>Egrader</title>
</head>
<body>
  <div id="parent">

    <form id="form_essay" method="POST">
      <h1>Online essay grader</h1>
       Essay Title:<br>
       <input type="text" name="title" value={{ title }}><br>
       Essay:<br>
       <textarea id="txt_area" rows="35" cols="90" name="essay">{{ essay }}</textarea><br>

       <input type="submit" value="Grade it">
       {% if score != '0' %}
         <br>
         <p> Score is: {{ score }} </p>
       {% endif %}
     </form>
  </div>
</body>
</html>
