<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>Egrader</title>
</head>
<body>
  <div id="title">
    <h1>Online essay grader</h1>
  </div>
  <div id="parent">

    <form id="form_essay" method="POST">

       Essay Title:<br>
       <input type="text" name="title" value={{ title }}><br>
       Essay:<br>
       <textarea id="txt_area" rows="35" cols="90" name="essay">{{ essay }}</textarea><br>

       <input type="submit" value="Grade it">
     </form>

     <div id="essay_scores">
       <table>
        <tr>
          <td>Essay content</td>
          <td>
            {{content_score}}
          </td>
        </tr>
        <tr>
          <td>Essay grammar</td>
          <td>
            {{grammar_score}}
          </td>
        </tr>
        <!-- <tr>
          <td>Well addressed</td>
          <td>
            {{well_addressed_score}}
          </td>
        </tr> -->
      </table>
     </div>
  </div>
</body>
</html>
